<div class="container-fluid py-5 bg-yellow">
    <div class="container-lg py-xl-5">
        <div class="row row-cols-1 g-4 row-cols-md-2 g-md-5">
            <div class="col pe-xxl-5">
                <h2 class="h1 mt-0 mb-4">
                    Napište nám
                </h2>

                {% component "contactform" %}
            </div>

            <div class="col mt-5 ps-xxl-5">
                <h2 class="h1 mt-0 mb-4">
                    Kde nás najdete
                </h2>

                <div class="ratio ratio-16x9">
                    <iframe class="rounded-4" style="border:none" src="https://en.frame.mapy.cz/s/gaguvevoco" width="400" height="280" frameborder="0"></iframe>
                </div>

                <div class="mt-4">
                    <a href="https://en.mapy.cz/s/behefubara" target="_blank" class="btn btn-red w-100 w-lg-auto">
                        Zobrazit na mapě
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
