[staticMenu mainmenu]
code = "hlavni-menu"

[staticMenu offcanvasmenu]
code = "hlavni-menu"

[staticMenu footermenu]
code = "hlavni-menu"

[seo]

[staticPage staticpage]
useContent = 1
default = 1
==
<?php
function onInit() {
    $this["submenu_pages"] = [
        "zs-police-nad-metuji",
        "zs-bezdekov-nad-metuji",
        "ms-bezdekov-nad-metuji",
        "ms-ceska-metuje",
        "ms-velke-petrovice",
        "ms-police-nad-metuji",
    ];
}
?>
==
<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% component "seo" %}

        <link rel="stylesheet" href="{{ [
            'assets/css/theme.css',
            'assets/css/bootstrap-icons.css',
            'assets/css/lightgallery.css',
            'assets/css/lg-zoom.css',
            'assets/css/lg-thumbnail.css',
            'assets/css/swiper-bundle.css',
        ]|theme }}" />
    </head>

    <body>
        {% partial "header" %}

        <main>
            {% if not staticpage.content %}
                {% page %}
            {% else %}
                {% component "staticpage" %}
            {% endif %}
        </main>

        {% partial "footer" %}
        {% partial "offcanvas" %}

        {% framework extras %}

        <script src="{{ [
            'assets/js/jquery.min.js',
            'assets/js/popper.js',
            'assets/js/bootstrap.js',
            'assets/js/lightgallery.min.js',
            'assets/js/lg-zoom.min.js',
            'assets/js/lg-thumbnail.min.js',
            'assets/js/swiper-bundle.js',
            'assets/js/theme.js',
        ]|theme }}"></script>

        {% scripts %}
    </body>
</html>
